<template>
  <div class="valuation">
    <strong>{{ valuation.label }}</strong><br />
    <em>{{ valuation.description }}</em><br />
    <span class="compensation-box-amount">
      {{ valuation.totalGainFormatted }}
      <small v-if="valuation.totalGain < 0">(if exercised)</small>
    </span>
  </div>
</template>
<script>
export default {
  name: 'Valuation',
  props: {
    valuation: {
      type: Object,
      required: true,
    }
  }
}
</script>
